gl-popup {
  display: none;
}
gl-map .mapboxgl-popup-content {
  gl-template > *:first-child {
    margin-top: 0;
  }
  gl-template > *:last-child {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.3em;
  }
}
