gl-app {
  display: block;
  height: 100%;
  width: 100%;
  ion-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .map-content {
    .fixed-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    ion-fab.fab-vertical-bottom {
      bottom: 30px;
    }
  }
}
