$fonts-primary: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$color-background: #3f4854;
$color-button: #1b95c7;
$color-button-hover: #24abe2;

gl-map {
  // Map size: small
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-family: $fonts-primary;
  position: relative;
  .panel {
    align-items: center;
    background-color: $color-background;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex: 0 0 auto;
    height: 50px;
    min-height: 40px;
    padding: 5px;
    h1 {
      font-size: 16px;
      line-height: 18px;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      width: 100%;
    }
    .panel-items {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .panel-box-open {
      background-color: rgba(255, 255, 255, 0.9);
      bottom: 0;
      color: black;
      left: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 80;
    }
    .panel-box-closed {
      display: none;
    }
  }
  .panel-button {
    background-color: $color-button;
    border: 0 none transparent;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    margin-right: 5px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    &:hover {
      background-color: $color-button-hover;
    }
  }
  .menu-toggle {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .menu {
    background: white;
    color: black;
    position: absolute;
    z-index: 100;
    ul.menu-items {
      border-bottom: 1px solid #dddddd;
      list-style-type: none;
      margin: 0;
      padding: 0 15px;
    }
    li {
      border-bottom: 1px solid #dddddd;
    }
    ul > *:last-child > li,
    ul > li:last-child {
      border-bottom: 0 none transparent;
    }
    a,
    button {
      background-color: transparent;
      border: 0 none transparent;
      color: #666666;
      cursor: pointer;
      display: block;
      font-family: $fonts-primary;
      font-size: 16px;
      padding: 15px 0;
      text-align: left;
      text-decoration: none;
      width: 100%;
      &:active,
      &:focus,
      &:hover {
        color: #2e3191;
        text-decoration: underline;
      }
      .icon + * {
        margin-left: 5px;
      }
    }
  }
  .menu-open {
    left: 0;
    right: 0;
    top: 50px;
  }
  .menu-closed {
    display: none;
  }
  .size-lg {
    display: none;
  }
  .map {
    height: 100%;
    width: 100%;
  }
  .sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  // Map size: large
  &.gl-map-size-lg {
    flex-direction: row;
    .panel {
      align-items: flex-start;
      flex-direction: column;
      height: auto;
      min-width: 350px;
      width: 350px;
      h1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        padding: 10px 0;
        vertical-align: top;
      }
    }
    .panel-closed {
      display: none;
    }
    .menu-toggle {
      display: none;
    }
    .menu {
      background-color: transparent;
      display: block;
      left: auto;
      right: 20px;
      top: 20px;
      ul.menu-items {
        border-bottom: 0 none transparent;
        padding: 0;
      }
      li {
        border-bottom: 0 none transparent;
        display: inline-block;
        margin-left: 10px;
      }
      a,
      button {
        background-color: $color-background;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        color: white;
        display: inline-block;
        font-size: 13px;
        padding: 5px 10px;
        text-decoration: none;
        width: auto;
        &:active,
        &:focus,
        &:hover {
          background-color: $color-button-hover;
          color: white;
          text-decoration: none;
        }
      }
    }
    .size-sm {
      display: none;
    }
    .size-lg {
      display: block;
    }
  }

  &.gl-map-fullscreen {
    bottom: 0;
    height: auto !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
  }
}
